@model IEnumerable<Teacher>

<div class="container mt-5">
    
    <div class="d-flex justify-content-between mb-5">
        <p class="h2">List Of Teachers</p>
        <a class="btn btn-primary px-3" asp-controller="Teacher"
           asp-action="Create">Add Teacher</a>
    </div>
    
    

    <table class="table table-striped">
        <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Address</th>
        <th></th>
        </thead>

        <tbody>
            @foreach(Teacher teacher in Model) {
                <tr>
                    <td>@teacher.Name</td>
                    <td>@teacher.Email</td>
                    <td>@teacher.Age</td>
                    <td>@teacher.Address</td>
                    <td class="d-flex justify-content-end">
                        <a class="btn btn-primary me-2" asp-controller="Teacher" 
                        asp-action="Update" asp-route-id="@teacher.Id">
                            Update 
                        </a>

                        <a class="btn btn-danger" asp-controller="Teacher" 
                        asp-action="Delete" asp-route-id="@teacher.Id">
                        Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

