@model IEnumerable<Lesson>
<div class="container mt-5">

    <div class="d-flex justify-content-between mb-5">
        <p class="h2">List Of Lessons</p>
        <a class="btn btn-primary px-3" asp-controller="Lesson"
           asp-action="Create">Add Lesson</a>
    </div>



    <table class="table table-striped">
        <thead>
        <th>Id</th>
        <th>Lesson Name</th>
        <th>Lesson Teacher</th>
        <th>Lesson Code</th>
        <th></th>
        </thead>

        <tbody>
            @foreach (Lesson lesson in Model)
            {
                <tr>
                    <td>@lesson.Id</td>
                    <td>@lesson.LessonName</td>
                    <td>@lesson.Teacher</td>
                    <td>@lesson.LessonCode</td>
                    <td class="d-flex justify-content-end">
                        <a class="btn btn-primary me-2" asp-controller="Lesson"
                       asp-action="Update" asp-route-id="@lesson.Id">
                            Update
                        </a>

                        <a class="btn btn-danger" asp-controller="Lesson"
                       asp-action="Remove" asp-route-id="@lesson.Id">
                            Delete
                        </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

